body, h1, h2, h3, p, ul, li, a, div, section, header, footer, main, nav, button, input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    line-height: 1.4;
}

header {
    background-color: #000;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header h1 {
    font-size: 1.2rem;
    color: #00c853;
}

.search-area {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.search-input {
  padding: 0.5rem;
  border-radius: 4px;
  border: none;
  background-color: #333;
  color: white;
  width: 250px;
}

.btn-search {
  background-color: #444;
  color: white;
  border: none;
  padding: 0.5rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
}

.ver-mais-container {
  text-align: center;
  margin-top: 2rem;
}


nav a {
    color: #fff;
    margin-left: 1rem;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 1rem;
    font-size: 0.8rem;
    color: #888;
    background-color: #000;
}

.form-container {
    max-width: 900px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #1e1e1e;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-filmes {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    justify-items: center;
    margin-top: 2rem;
}

.card-filme {
    background-color: #2a2a2a;
    border-radius: 8px;
    overflow: hidden;
    padding: 0.5rem;
    text-align: center;
    width: 100%;
    max-width: 200px;
    transition: transform 0.2s;
    cursor: pointer;
}

.card-filme:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px #00c853;
}

.card-filme img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 0.5rem;
    object-fit: cover;
}

.card-filme p {
    font-size: 0.85rem;
    color: #eee;
    margin: 0;
    font-weight: bold;
}

@media (max-width: 1200px) {
    .grid-filmes {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 600px) {
    .grid-filmes {
        grid-template-columns: repeat(2, 1fr);
    }

    .form-container {
        padding: 1rem;
    }
}

.btnVerMais {
  padding: 0.7rem 1.5rem;
  border-radius: 6px;
  border: none;
  background-color: #00c853;
  color: white;
  cursor: pointer;
}
