body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 0;
}

.color-box {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    transition: background-color 0.5s;
}

@media (max-width: 420px) {
    .color-box {
        background-color: gray;
    }
    .color-name::before {
        content: "Cinza";
    }
}

@media (min-width: 421px) and (max-width: 768px) {
    .color-box {
        background-color: orange;
    }
    .color-name::before {
        content: "Laranja";
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .color-box {
        background-color: pink;
    }
    .color-name::before {
        content: "Rosa";
    }
}

@media (min-width: 1024px) and (max-width: 1080px) {
    .color-box {
        background-color: red;
    }
    .color-name::before {
        content: "Vermelho";
    }
}

@media (min-width: 1081px) and (max-width: 1366px) {
    .color-box {
        background-color: blue;
    }
    .color-name::before {
        content: "Azul";
    }
}

@media (min-width: 1367px) and (max-width: 1920px) {
    .color-box {
        background-color: yellow;
    }
    .color-name::before {
        content: "Amarelo";
    }
}

@media (min-width: 1921px) {
    .color-box {
        background-color: green;
    }
    .color-name::before {
        content: "Verde";
    }
}

.color-name {
    position: relative;
}

.color-name::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}